{{yield}}

<div class="card-container">

  <div class="card-info centered">
    <h2>{{moment-format note.createdAt 'MM-DD-YYYY' 'MM-DD-YYYY'}}</h2>
    <h3>{{note.timeOfDay}}</h3>
  </div>
  <button class="info-button centered" onClick={{action 'displayNote' }}>More Info</button>
</div>


{{#if isShowingModal}}
  {{#modal-dialog onClose="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    <h4>From what I can remember, this is what it was like:</h4>
    {{note.content}}
  {{/modal-dialog}}
{{/if}}
