{{yield}}

<div class="card-container">

  <div class="card-info">
    <p>{{moment-format note.createdAt 'MM-DD-YYYY' 'MM-DD-YYYY'}}</p>
    <p>{{note.timeOfDay}}</p>
  </div>
  <button class="info-button" onClick={{action 'displayNote' }}>More Info</button>
</div>


{{#if isShowingModal}}
  {{#modal-dialog onClose="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    <div class="modal-content">
      <h3>A Note on {{note.bean.name}}:</h3>
      <div class="note-content">
        <p>{{note.content}}</p>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}
