{{yield}}

<div class="item-container">

  <div class="item-info">
    <h3 class="item-title">{{note.bean.name}}</h3>
    <h4 class="item-subtitle">{{moment-format note.createdAt 'MM-DD-YYYY' 'MM-DD-YYYY'}} - {{note.timeOfDay}}</h4>
  </div>
  <button class="info-button" onClick={{action 'displayNote' }}>Read More</button>
  {{#if adminLoggedIn}}
    <button class="info-button" onClick={{action 'editNote' }}>Edit Note</button>
  {{/if}}
</div>


{{#if isShowingModal}}
  {{#modal-dialog onClose="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    <div class="modal-content">
      <h3>A Note on {{note.bean.name}}:</h3>
      <div class="note-content">
        <p>{{note.content}}</p>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}
