{{outlet}}

<div class="container">
  <div class="form-box">
    <form onSubmit={{action 'createbean'}}>
      <div class="input-group">
        <h5>Name</h5>
        {{input value=model.name type='text'}}
      </div>
      <div class="input-group">
        <h5>Origin</h5>
        {{input value=model.origin type='text'}}
      </div>
      <div class="input-group">
        <h5>Elevation</h5>
        {{input value=model.elevation type='number'}}
      </div>
      <button {{action 'createbean'}}>
        Create bean
      </button>
    </form>
  </div>
</div>
