<h2>Coffee Index</h2>

<div class="container">
  {{#each model as |coffee i|}}
    <div class="coffee box box{{i}}">
      <h3 class="title">{{coffee.name}}</h3>
      <table>
        <tr>
          <th>Elevation</th>
          <td>{{coffee.elevation}}</td>
        </tr>
        <tr>
          <th>Origin</th>
          <td>{{coffee.origin}}</td>
        </tr>
      </table>
    </div>
  {{/each}}
</div>

{{outlet}}
