
<div class="create-note-form">
  <form>
    <div class="input-group">
      <h2>Draft a New Note</h2>
      {{#if newBean }}
        <button {{action 'toggleNewCoffee'}}>Looking for an Existing Coffee?</button>
        {{input value=model.bean.name type='text'}}
      {{ else }}
        {{beans/bean-search}}
        <button {{action 'toggleNewCoffee'}}>Want to Add A New Type of Bean?</button>
      {{/if}}
    </div>
    <div class="input-group">
      <h3>Content</h3>
      {{textarea value=model.content rows=10}}
    </div>
    <div class="input-group">
      <h3>Time of Day</h3>
      <select onChange={{action 'updateTimeofDay' value="target.value" }}>
        <option value='Morning'>Morning</option>
        <option value='Late Morning'>Late Morning</option>
        <option value='Early Afternoon'>Early Afternoon</option>
        <option value='Evening'>Evening</option>
      </select>
    </div>
    <button class="submit-button" {{action 'createNote'}}>
      Create Note
    </button>
  </form>
</div>
