
<div class="create-note-form">
  <form onSubmit={{action 'createNote'}}>
    <div class="input-group">
      <h3>Coffee</h3>
      {{#if newBean }}
        <button {{action 'toggleNewCoffee'}}>Looking for an Existing Coffee?</button>
        {{input value=model.bean.name type='text'}}
      {{ else }}
        <button {{action 'toggleNewCoffee'}}>New Coffee?</button>
      {{/if}}
    </div>
    <div class="input-group">
      <h3>Content</h3>
      {{textarea value=model.content rows=10}}
    </div>
    <div class="input-group">
      <h3>Time of Day</h3>
      <select onChange={{action 'updateTimeofDay' value="target.value" }}>
        <option value='Morning'>Morning</option>
        <option value='Late Morning'>Late Morning</option>
        <option value='Early Afternoon'>Early Afternoon</option>
        <option value='Evening'>Evening</option>
      </select>
    </div>
    <button type="submit" class="submit-button">
      Create Note
    </button>
  </form>
</div>
