{{yield}}

<div class="item-container">
  <h3 class="title">{{bean.name}}</h3>
  <div class="item-info">
    <p>{{bean.origin}}, {{ bean.elevation}} ft.</p>
  </div>
  <button class="info-button centered" onClick={{action 'displaybean' }}>More Info</button>
</div>

{{#if isShowingModal}}
  {{#modal-dialog onClose="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    {{bean.origin}}
    <h4>{{bean.notes.length}} notes have been recorded about this bean</h4>
  {{/modal-dialog}}
{{/if}}
