{{outlet}}

<h2>Coffee Index</h2>

<div class="container">
  {{#each model as |coffee i|}}
    <div class="box box{{i}}">
      <h3>{{coffee.name}}</h3>
      <p>{{coffee.elevation}}</p>
      <p>{{coffee.origin}}</p>
    </div>
  {{/each}}
</div>
